<div *ngIf="celeb">
  <header>No: {{ celeb.rank }}</header>
  <p>Name: {{ celeb.name }}</p>
  <p>Net Worth: {{ formattedNetWorth }}</p>
  <p>Age: {{ celeb.age }}</p>
  <p>Country of Birth: {{ celeb.country }}</p>
</div>
