section {

  margin: 0 auto;
  max-width: 38rem;
}

.filters {
  display: flex;
  flex-flow: wrap;
}

.filters > div {
  width: 50%;
  box-sizing: border-box;
  padding-bottom: 1rem;
}

.filters > div:nth-child(odd) {
  padding-right: 1.75rem;
}

.filters > div:nth-child(even) {
  padding-left: 0.75rem;
  padding-right: 1rem;
}

.celebrity-list {
  margin: 0;
  border: solid 1px #d8d8d8;
  padding: 1.25rem;
  list-style: none;
  text-align: center;
}

.no-results {
  text-align: center;
  border: solid 1px #d8d8d8;
  padding: 0 1.25rem;
}

li {
  background: #F6F6F6;
  border-left: solid 1px #D8D8D8;
  border-right: solid 1px #D8D8D8;
}

li:last-child {
  border-bottom: solid 1px #D8D8D8;
}
