<section>
  <div class="filters">
    <div>
      <label for="birthplace">Birthplace:</label>
      <select
        type="text"
        id="birthplace"
        #birthplace
        (change)="onBirthplaceChange(birthplace.value)"
      >
        <option value="Show All">Show All</option>
        <option *ngFor="let b of birthplaces" value="{{b}}">
          {{b}}
        </option>
      </select>
    </div>
    <div>
      <label for="currency">Currency Converter:</label>
      <select
        type="text"
        id="currency"
        #currency
        (change)="onCurrencyChange(currency.value)"
      >
        <option *ngFor="let c of currencies" value="{{c.value}}">
          {{c.label}}
        </option>
      </select>
    </div>
    <div>
      <label for="search">Search:</label>
      <input
        type="text"
        id="search"
        placeholder="Search"
        #search
        (keyup)="onSearchKeyUp(search.value)"
      />
    </div>
    <div>
      <label for="orderBy">Order By:</label>
      <select
        type="text"
        id="orderBy"
        #orderBy
        (change)="onOrderByChange(orderBy.value)"
      >
        <option *ngFor="let o of orders" value="{{o.value}}">
          {{o.label}}
        </option>
      </select>
    </div>
  </div>
  <ol *ngIf="celebs.length" class="celebrity-list">
    <li *ngFor="let celeb of celebs">
      <app-celeb-item [celeb]="celeb" [currencyValue]="currencyValue"></app-celeb-item>
    </li>
  </ol>
  <div *ngIf="!celebs.length" class="no-results">
    <p>No results found</p>
  </div>
</section>
