header {
  text-align: center;
}

main {
  background: #f2f2f2;
  border: solid 1px #D8D8D8;
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 59.3125em) {
  main {
    width: 100%;
  }
}
