<header>
  <h1>{{ pageTitleH1 }}</h1>
  <h2>{{ pageTitleH2 }}</h2>
  <p>{{ description }}</p>
  <p>Reference: <a href="{{ referenceLink }}" title="{{ description }}" target="_blank">{{ referenceLink }}</a></p>
</header>
<main>
  <app-celebs></app-celebs>
</main>
