* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  margin: 0 2rem;
}

h1 {
  font-size: 2.35rem;
  margin: 1rem 0;
  font-weight: 100;
}

h2 {
  font-size: 1.95rem;
  margin: 0.85rem 0;
  font-weight: 100;
}

a:link, a:visited {
  color: #0296C2;
  text-decoration: none;
}
a:hover {
  color: #074e66;
  text-decoration: underline;
}
a:active {
  color: #2c0a64;
}

p {
  margin: 1.25rem 0;
}

label {
  display: block;
  margin-bottom: 0.1rem;
}

input, select {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.85rem;
  margin: 0;
  border: solid 1px #D8D8D8;
  border-radius: 0;
  background-color: #fff;
  box-sizing:content-box;
}

select {
  appearance: none;
  line-height: normal;
  position: relative;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC);
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 35.9375em) {
  html {
    font-size: 12px;
  }
  body {
    margin: 0 0.75rem;
  }
}

@media only screen and (min-width: 36em) and (max-width: 47.9375em) {
  html {
    font-size: 13px;
  }
  body {
    margin: 0 1.5rem;
  }
}

@media only screen and (min-width: 48em) and (max-width: 59.3125em) {
  html {
    font-size: 14px;
  }
}
